@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;

}

body {
  font-family: 'Geist', sans-serif;
  background-color: black;

  
}

.cursor, .cursor-trail {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: transform 0.2s ease-out, background 0.3s ease-out;
}

/* Main Cursor */
.cursor {
  background: rgba(0, 191, 255, 0.9); /* Sky Blue */
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.8), 0 0 20px rgba(0, 191, 255, 0.6);
}

/* Smooth Trailing Effect */
.cursor-trail {
  width: 40px;
  height: 40px;
  background: rgba(0, 123, 255, 0.2); /* Deep Blue */
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.5), 0 0 30px rgba(0, 123, 255, 0.4);
}

.hoverable:hover {
  cursor: none;
}



/* Custom Clip Path for Diagonal */
/* @layer utilities {
  .clip-path-triangle {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 75%, 50% 50%, 0 25%);
  }
} */